/* Обнуление стилей */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 16px;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-size: inherit;
  font-weight: 400;
}

ul li {
  list-style: none;
}
/* Обнуление стилей end*/
.wrapper {
  width: 1024px;
  min-height: 100vh;
  margin: 0 auto;
  overflow: clip;
  background-color: #fcfbfc;
  box-shadow: 0 0 7px rgba(51, 51, 51, 0.7);
  border-radius: 15px;
}